body {
  width:80%;
  height: 70%;
  background color: blue;
  text-decoration-color: #F9F2EB;
  text-align: center;
  margin: 0 auto;
}

.container {
text-align: center;
}
.wordpress {
  width:50%
}
head {

}
